/* app css stylesheet */

.strike {
  text-decoration: line-through;
}

.logo {
  width: 4%;
}

* {
	list-style: none;
}

img {
	max-width: 10em;
}

html {
	height: 100%;
	min-width: 350px;
}

body {
	height: 100%;
}

.app {
	margin: 0 1em;
	font-family: 'Calibri';
}

/* MENU block */

.menu {
}

.menu__item {
}

.menu__item__link {
	font-weight: bold;
	font-size: 1.3em;
}

/* CART block */

.cart__item {
	padding-bottom: 10px;
}

/*ITEM BLOCK images gallery swapping animations*/


.imgThumbs > img {
	max-height: 10em;
	display: inline-block;
}

.slider {
	position: relative;
	height: 30%;
}

.slide{
	position: relative;
	top: 0px;
}

 	.slide.ng-hide-add {
 	  position: absolute;
  	top: 0px;
 	  opacity:1;
 	  -webkit-transition:0.5s linear all;
 	  -moz-transition:0.5s linear all;
 	  -o-transition:0.5s linear all;
 	  transition:0.5s linear all;
 	}

 	.slide.ng-hide-add.ng-hide-add-active {
 	    opacity:0;
 	}

 	.slide.ng-hide-remove {
 	    -webkit-transition:0.5s linear all;
 	    -moz-transition:0.5s linear all;
 	    -o-transition:0.5s linear all;
 	    transition:0.5s linear all;

 	    opacity:0;
 	}
 .slide, .slide.ng-hide-remove.ng-hide-remove-active {
 	 opacity:1;
	}

/* HOME block */

.home {
}

.home__item {
	height: 30%;
	min-width: 20%;
}

.home__item .panel  {
	height: 100%;
	min-height: 100%;
}

.home__item .panel-body {
}

.home__item__thumb {
	width: auto;
	height: 100%;
}

.home__item__header {
	font-weight: bold;
	font-size: 1.4em;
	min-height: 2em;
}

@media (min-width: 100px) {
  .home__item__thumb {
		height: 8em;
  }
}
@media (min-width: 992px) {
  .home__item__thumb {
  		height: 14em;
    }
}

.home__item__link:hover, .home__item__link:hover .home__item__price {
	text-decoration: none;
	color: #3c3;
}

.home__item__price {
	font-size: 2em;
	font-weight: bold;
	color: #282;
}

.home__item__button {
	font-weight: bold;
	font-size: 1.4em;
}

/* Validation css */

input.ng-invalid.ng-dirty {
  border-color: red;
  background-color: #fdd;
}

input.ng-valid.ng-dirty {
	border-color: green;
	background-color: #dfd;
}

/* Collection transition and lining to one height */

.row-same-height {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

.animate-repeat {
	max-height: 450px;
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.7s;
  transition:all linear 0.7s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:450px;
}

/* View changing fading in */

.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}