<nav>
  <h3><img src="images/bestbuyFLAMES.jpg" class="logo" /><b>Best BestBuyApi App, Whoop-Whoop, dude</b></h3>
  <div>
    <pagination ng-hide="info.totalPages < 2" total-items="info.total" ng-model="info.currentPage" max-size="5"
                class="pagination-md" num-pages="info.totalPages" boundary-links="true" ng-change="pageChanged()"></pagination>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search for product" ng-model="searcher" ng-keyup="search($event, searcher)">
    </div>
    <pre ng-hide="info.totalPages < 2">Page: {{info.currentPage}} / {{info.totalPages}}</pre>
  </div>
</nav>

<ol class="breadcrumb">
  <li>Path: <a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>HOME</a></li>
  <li ng-repeat="path in paths track by $index"><a href="{{ '#/' + paths.slice(0, $index+1).join('/') + '/' }}">{{ path }}</a></li>
</ol>

<ul class="home list-inline">
  <li item ng-repeat="item in items" class="home__item list-group-item animate-repeat"></li>
  <li><h3 ng-if="items.length == 0">Sowwy, no items found :(</h3></li>
</ul>