<div ng-if="!item.addToCartUrl">
  <img ng-if="item.thumbnailImage" ng-src="{{ item.thumbnailImage }}" class="col-md-4" />
  <button class="btn btn-primary col-md-12" ng-click="changeState(type, item.id || item.sku)" role="button">{{ item.name }} {{ item.regularPrice | currency }}</button>
</div>


<div ng-if="item.addToCartUrl" class="panel panel-primary col-md-12">
  <div class="panel-heading">
    <h3 class="panel-title">{{ item.name }}</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img ng-src="{{ item.largeImage || item.image }}">

          <div class="caption">
            <h3 ng-class="{strike : item.onSale}">Price: {{ item.regularPrice | currency}}</h3>
            <h3 ng-if="item.onSale"><b>Just now buy for only {{ item.salePrice | currency }} !!!</b></h3>
            <p>{{ item.longDescription }}</p>

            <div class="list-group">
              <a href="#" class="list-group-item active">Fetures</a>
              <a href="#" class="list-group-item" ng-repeat="feature in item.features">{{ feature.feature }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <table class="table table-bordered">
          <tr>
            <th colspan="2" class="text-center">Detailed Info</th>
          </tr>
          <tr ng-repeat="detail in item.details">
            <th>{{ detail.name }}</th>
            <td>{{ detail.value }}</td>
          </tr>
        </table>
      </div>

      <div ng-if="item.reviews.length" class="col-sm-6 col-md-4">
        <table class="table table-bordered">
          <tr>
            <th colspan="4" class="text-center">REVIEWS</th>
          </tr>
          <tr ng-repeat="review in item.reviews">
            <th>{{ review.title }}</th>
            <td>{{ review.comment }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.submissionTime }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>